<div class="cds-control-examples">
  <button class="cds-toggle cds-toggle--small cds-toggle--off" type="button" aria-pressed="false">
    <span class="cds-toggle__knob"></span>
  </button>
  <button class="cds-toggle cds-toggle--small cds-toggle--on" type="button" aria-pressed="true">
    <span class="cds-toggle__knob"></span>
  </button>

  <button class="cds-toggle cds-toggle--medium cds-toggle--off" type="button" aria-pressed="false">
    <span class="cds-toggle__knob"></span>
  </button>
  <button class="cds-toggle cds-toggle--medium cds-toggle--on" type="button" aria-pressed="true">
    <span class="cds-toggle__knob"></span>
  </button>

  <button class="cds-toggle cds-toggle--large cds-toggle--off" type="button" aria-pressed="false">
    <span class="cds-toggle__knob"></span>
  </button>
  <button class="cds-toggle cds-toggle--large cds-toggle--on" type="button" aria-pressed="true">
    <span class="cds-toggle__knob"></span>
  </button>

  <span class="cds-control cds-control--checkbox cds-control--off" aria-hidden="true">
    <svg class="cds-control__icon cds-control__icon--check" viewBox="0 0 20 20">
      <circle class="cds-control__icon-ring" cx="10" cy="10" r="9.25"></circle>
      <path class="cds-control__icon-check" d="M5.72729 9.90911L8.48084 13.0068C8.52062 13.0516 8.59054 13.0516 8.63032 13.0068L14.2121 6.72729"></path>
    </svg>
  </span>
  <span class="cds-control cds-control--checkbox cds-control--on" aria-hidden="true">
    <svg class="cds-control__icon cds-control__icon--check" viewBox="0 0 20 20">
      <circle class="cds-control__icon-ring" cx="10" cy="10" r="9.25"></circle>
      <path class="cds-control__icon-check" d="M5.72729 9.90911L8.48084 13.0068C8.52062 13.0516 8.59054 13.0516 8.63032 13.0068L14.2121 6.72729"></path>
    </svg>
  </span>

  <span class="cds-control cds-control--radio cds-control--off" aria-hidden="true">
    <svg class="cds-control__icon cds-control__icon--radio" viewBox="0 0 20 20">
      <circle class="cds-control__icon-ring" cx="10" cy="10" r="7"></circle>
    </svg>
  </span>
  <span class="cds-control cds-control--radio cds-control--on" aria-hidden="true">
    <svg class="cds-control__icon cds-control__icon--radio" viewBox="0 0 20 20">
      <circle class="cds-control__icon-ring" cx="10" cy="10" r="7"></circle>
    </svg>
  </span>
</div>
