/* Figma: cafe.organism.singleColumnFeed */
.cds-feed {
  display: flex;
  flex-direction: column;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  width: 100%;
}

.cds-feed__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--cafe-color-background);
}

.cds-feed__item--rich {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  padding: 0 calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-feed__item--compact {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  padding: 0 calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-feed__profile {
  width: 100%;
}

.cds-feed__profile .cds-profile-item--feed-large {
  padding: 0;
}

.cds-feed__profile .cds-profile-item--feed-small {
  padding: 0;
}

.cds-feed__profile-sub {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--text-body-small-font-size) * 0.2857143);
}

.cds-feed__dot {
  width: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
  height: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
  border-radius: 999px;
  background-color: var(--cafe-color-textinformation);
}

.cds-feed__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--cafe-color-textinformation);
}

.cds-feed__icon--more {
  width: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
  height: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
}

.cds-feed__icon--heart-20 {
  width: calc(var(--text-heading-medium-font-size) * 1.25);
  height: calc(var(--text-heading-medium-font-size) * 1.25);
}

.cds-feed__icon--reply-20 {
  width: calc(var(--text-heading-medium-font-size) * 1.25);
  height: calc(var(--text-heading-medium-font-size) * 1.25);
}

.cds-feed__icon--heart-16 {
  width: calc(var(--text-body-small-font-size) * 1.1428572);
  height: calc(var(--text-body-small-font-size) * 1.1428572);
}

.cds-feed__icon--reply-16 {
  width: calc(var(--text-body-small-font-size) * 1.1428572);
  height: calc(var(--text-body-small-font-size) * 1.1428572);
}

.cds-feed__contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.7777778);
  width: 100%;
}

.cds-feed__text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0;
  padding: 0;
}

.cds-feed__title-wrap {
  position: relative;
}

.cds-feed__title {
  margin: 0;
  font-family: var(--text-heading-large-font-family);
  font-weight: var(--text-heading-large-font-weight);
  font-size: var(--text-heading-large-font-size);
  line-height: calc(var(--text-heading-large-font-size) * 1.4117648);
  letter-spacing: calc(var(--text-heading-large-font-size) * -0.0176471);
  color: var(--cafe-color-textpriority);
}

.cds-feed__body {
  margin: 0;
  font-family: var(--text-body-medium-font-family);
  font-weight: var(--text-body-medium-font-weight);
  font-size: var(--text-body-medium-font-size);
  line-height: calc(var(--text-body-medium-font-size) * 1.4666667);
  letter-spacing: calc(var(--text-body-medium-font-size) * -0.02);
  color: var(--cafe-color-onbackgroundsecondary);
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.cds-feed__media {
  margin: 0;
  padding: 0;
  width: 100%;
}

.cds-feed__media--wide {
  --cds-thumbnail-width: 100%;
  --cds-thumbnail-ratio: 16 / 9;
  --cds-thumbnail-radius: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
}

.cds-feed__subinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--text-heading-xLarge-font-size) * 1.1111112);
  width: 100%;
}

.cds-feed__counts {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 1.1111112);
}

.cds-feed__count {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--text-body-small-font-size) * 0.1428572);
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
  color: var(--cafe-color-textinformation);
}

.cds-feed__views {
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
  color: var(--cafe-color-textinformation);
}

.cds-feed__comment {
  display: flex;
  align-items: center;
  gap: calc(var(--text-body-small-font-size) * 0.2857143);
  padding: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  border: none;
  border-radius: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  background-color: var(--cafe-color-backgroundcontainersecondary);
  text-align: left;
}

.cds-feed__comment-name {
  font-family: var(--text-label-mediumStrong-font-family);
  font-weight: var(--text-label-mediumStrong-font-weight);
  font-size: var(--text-label-mediumStrong-font-size);
  line-height: calc(var(--text-label-mediumStrong-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-label-mediumStrong-font-size) * -0.0214286);
  color: var(--cafe-color-onbackgroundsecondary);
  max-width: calc(var(--text-label-mediumStrong-font-size) * 7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cds-feed__comment-body {
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
  color: var(--cafe-color-onbackgroundsecondary);
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cds-feed__item--recommendation .cds-feed__contents {
  flex-direction: row;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  align-items: center;
}

.cds-feed__item--recommendation .cds-feed__text {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.4444445);
  flex: 1;
}

.cds-feed__recommendation-sub {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 1.1111112);
}

.cds-feed__thumb-square {
  margin: 0;
  padding: 0;
  --cds-thumbnail-width: calc(var(--text-heading-xLarge-font-size) * 4.8888889);
  --cds-thumbnail-ratio: 1 / 1;
  --cds-thumbnail-radius: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
}

.cds-feed__item--compact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.7777778);
}

.cds-feed__compact-text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.2222223);
  flex: 1;
}

.cds-feed__compact-title {
  margin: 0;
  font-family: var(--text-body-large-font-family);
  font-weight: var(--text-body-large-font-weight);
  font-size: var(--text-body-large-font-size);
  line-height: calc(var(--text-body-large-font-size) * 1.375);
  letter-spacing: calc(var(--text-body-large-font-size) * -0.01875);
  color: var(--cafe-color-textpriority);
}

.cds-feed__profile-small {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.3333334);
}

.cds-feed__profile-small .cds-profile-item__name {
  font-family: var(--text-label-largeStrong-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-label-largeStrong-font-size);
  line-height: calc(var(--text-label-largeStrong-font-size) * 1.4666667);
  letter-spacing: calc(var(--text-label-largeStrong-font-size) * -0.02);
  color: var(--cafe-color-textinformation);
}

.cds-feed .cds-profile-item__name {
  color: var(--cafe-color-onbackgroundprimary);
}

.cds-feed__thumb-compact {
  margin: 0;
  padding: 0;
  --cds-thumbnail-width: calc(var(--text-heading-xLarge-font-size) * 3.7777778);
  --cds-thumbnail-ratio: 1 / 1;
  --cds-thumbnail-radius: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
}

.cds-feed__item--post-footer {
  gap: 0;
  padding: calc(var(--text-heading-xLarge-font-size) * 1.3333334)
    calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-feed__item--post-footer .cds-feed__text {
  margin-top: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  margin-bottom: 4px;
}

.cds-feed__item--post-footer .cds-feed__title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.cds-feed__media--video .cds-thumbnail__play {
  width: calc(var(--text-heading-xLarge-font-size) * 2.7777778);
  height: calc(var(--text-heading-xLarge-font-size) * 2.7777778);
  background-color: transparent;
}

.cds-feed__media--video .cds-thumbnail__play-icon {
  width: 100%;
  height: 100%;
}

.cds-demo__items--feed {
  flex-direction: column;
  align-items: stretch;
  gap: calc(var(--text-heading-xLarge-font-size) * 1.1111112);
  width: 100%;
}
