<!-- Figma: 2x2 grid card -->
<article class="cds-grid2x2__card">
  <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-grid2x2__thumb">
    <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
    <span class="cds-thumbnail__badge">
      <span class="cds-thumbnail__badge-text">2+</span>
    </span>
  </figure>
  <div class="cds-grid2x2__text">
    <div class="cds-grid2x2__title-row">
      <span class="cds-grid2x2__title">새해 명절선물 준비 &amp; 에타,쏘낭시에,소금빵</span>
    </div>
    <div class="cds-grid2x2__meta">
      <div class="cds-grid2x2__profile">
        <span class="cds-grid2x2__name">백조</span>
        <img class="cds-grid2x2__level" src="../imageBadges/decorative-small-sprout.svg" alt="" />
      </div>
      <div class="cds-grid2x2__assist">
        <span class="cds-grid2x2__time">15:30</span>
        <span class="cds-grid2x2__reply">
          <svg class="cds-grid2x2__reply-icon" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M9.57652 2.26672H6.5197C3.91364 2.26672 1.8 4.38036 1.8 6.99021C1.8 9.60006 3.91364 11.7137 6.52349 11.7137H7.56894C7.6144 11.7137 7.64849 11.7516 7.6447 11.797L7.44015 13.4978C7.39849 13.8576 7.80379 14.0963 8.09925 13.8841L12.0992 10.9788C13.5349 9.91445 14.3 8.67203 14.3 6.99021C14.3 4.38036 12.1864 2.26672 9.57652 2.26672Z" />
          </svg>
          <span class="cds-grid2x2__reply-count">2</span>
        </span>
      </div>
    </div>
  </div>
</article>
