/* Figma: cafe.molecule.head.primary */
.cds-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  width: 100%;
  padding: var(--cds-header-padding-top) var(--cds-header-padding-right)
    var(--cds-header-padding-bottom) var(--cds-header-padding-left);
  background-color: var(--cds-header-background, var(--cafe-color-background));
}

.cds-header__main {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.2222222);
  flex: 1;
  min-width: 0;
}

.cds-header__title-group {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
  min-width: 0;
}

.cds-header__title {
  margin: 0;
  font-family: var(--text-heading-xLarge-font-family);
  font-weight: var(--text-heading-xLarge-font-weight);
  font-size: var(--text-heading-xLarge-font-size);
  line-height: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
  letter-spacing: calc(var(--text-heading-xLarge-font-size) * -0.0166667);
  color: var(--cafe-color-onbackgroundprimary);
}

.cds-header__subtitle {
  margin: 0;
  font-family: var(--text-body-xSmall-font-family);
  font-weight: var(--text-body-xSmall-font-weight);
  font-size: var(--text-body-xSmall-font-size);
  line-height: calc(var(--text-body-xSmall-font-size) * 1.3846154);
  letter-spacing: calc(var(--text-body-xSmall-font-size) * -0.0230769);
  color: var(--cafe-color-textinformation);
}

.cds-header__meta {
  margin: 0;
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
  color: var(--cafe-color-textinformation);
}

.cds-header__count {
  font-family: var(--text-heading-small-font-family);
  font-weight: var(--text-heading-small-font-weight);
  font-size: var(--text-heading-small-font-size);
  line-height: calc(var(--text-heading-small-font-size) * 1.4666667);
  letter-spacing: calc(var(--text-heading-small-font-size) * -0.02);
  color: var(--cafe-color-onbackgroundprimary);
}

.cds-header__action {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
}

.cds-header__icon {
  --cds-header-icon-size: calc(var(--text-heading-xLarge-font-size) * 1.1111112);
  width: var(--cds-header-icon-size);
  height: var(--cds-header-icon-size);
  flex-shrink: 0;
  color: currentColor;
}

.cds-header__icon path,
.cds-header__icon circle,
.cds-header__icon rect {
  fill: currentColor;
}

.cds-header__icon--outline path,
.cds-header__icon--outline circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 1px;
}

.cds-header__icon--outline .cds-header__icon-fill {
  fill: currentColor;
  stroke: none;
}


.cds-header__icon--muted {
  color: var(--cafe-color-textinformation);
}

.cds-header__icon--sm {
  --cds-header-icon-size: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-header__icon--lg {
  --cds-header-icon-size: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
}

.cds-header__icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
  height: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
  border: 0;
  border-radius: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  background-color: transparent;
  cursor: pointer;
  color: var(--cafe-color-onbackgroundprimary);
}

.cds-header__icon-button--filled {
  background-color: var(--cafe-color-backgroundcontainerprimary);
}

.cds-header__avatar {
  width: calc(var(--text-heading-xLarge-font-size) * 2.1111112);
  height: calc(var(--text-heading-xLarge-font-size) * 2.1111112);
  border-radius: 999px;
  object-fit: cover;
  background-color: var(--cafe-color-backgroundcontainerprimary);
  flex-shrink: 0;
}

.cds-header__profile {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  flex: 1;
}

.cds-header__profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  flex: 1;
  min-width: 0;
}

.cds-header__profile-title {
  margin: 0;
  font-family: var(--text-heading-medium-font-family);
  font-weight: var(--text-heading-medium-font-weight);
  font-size: var(--text-heading-medium-font-size);
  line-height: calc(var(--text-heading-medium-font-size) * 1.375);
  letter-spacing: calc(var(--text-heading-medium-font-size) * -0.01875);
  color: var(--cafe-color-onbackgroundsecondary);
}

.cds-header__badge {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.cds-header__badge img {
  width: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  height: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-header__switch {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.4444445);
}

.cds-header__switch-label {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
}

.cds-header__switch-text {
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
  color: var(--cafe-color-onbackgroundsecondary);
}

.cds-header--basic,
.cds-header--button,
.cds-header--switch,
.cds-header--subinfo,
.cds-header--town {
  --cds-header-padding-top: calc(var(--text-heading-xLarge-font-size) * 1.1111112);
  --cds-header-padding-right: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  --cds-header-padding-bottom: calc(var(--text-heading-xLarge-font-size) * 0.7777778);
  --cds-header-padding-left: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-header--setting {
  --cds-header-padding-top: calc(var(--text-heading-xLarge-font-size) * 1.1111112);
  --cds-header-padding-right: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  --cds-header-padding-bottom: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
  --cds-header-padding-left: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-header--article {
  --cds-header-padding-top: var(--text-heading-xLarge-font-size);
  --cds-header-padding-right: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  --cds-header-padding-bottom: var(--text-heading-xLarge-font-size);
  --cds-header-padding-left: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-header--profile,
.cds-header--member {
  --cds-header-padding-top: calc(var(--text-heading-xLarge-font-size) * 0.7777778);
  --cds-header-padding-right: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  --cds-header-padding-bottom: calc(var(--text-heading-xLarge-font-size) * 0.7777778);
  --cds-header-padding-left: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  --cds-header-background: var(--cafe-color-backgroundcontainerprimary);
}

.cds-header__comment {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.2222222);
}

.cds-header__setting {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
  color: var(--cafe-color-textinformation);
}

.cds-header--town .cds-header__icon-button {
  width: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
  height: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
  border-radius: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
}

