/* Figma: cafe.molecule.profile */
.cds-profile-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--cafe-color-background);
}

.cds-profile-item__avatar {
  flex-shrink: 0;
  margin: 0;
}

.cds-profile-item__icon {
  display: inline-flex;
  width: calc(var(--text-heading-medium-font-size) * 1.25);
  height: calc(var(--text-heading-medium-font-size) * 1.25);
  flex-shrink: 0;
  color: var(--cafe-color-textinformation);
}

.cds-profile-item__icon {
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.cds-profile-item__icon--more {
  mask-image: url("../icons/more-vertical-24x24-fill.svg");
  -webkit-mask-image: url("../icons/more-vertical-24x24-fill.svg");
  width: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
  height: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
  color: var(--cafe-color-onbackgroundassist);
}

.cds-profile-item__icon--ask {
  mask-image: url("../icons/ask-20x20-fill.svg");
  -webkit-mask-image: url("../icons/ask-20x20-fill.svg");
  width: calc(var(--text-heading-medium-font-size) * 1.25);
  height: calc(var(--text-heading-medium-font-size) * 1.25);
}

.cds-profile-item__icon--plus {
  mask-image: url("../icons/plus-16x16-outline.svg");
  -webkit-mask-image: url("../icons/plus-16x16-outline.svg");
  width: calc(var(--text-body-small-font-size) * 1.1428572);
  height: calc(var(--text-body-small-font-size) * 1.1428572);
}

.cds-profile-item__icon--chevron {
  mask-image: url("../icons/chevron-right-20x20-outline.svg");
  -webkit-mask-image: url("../icons/chevron-right-20x20-outline.svg");
  width: calc(var(--text-heading-medium-font-size) * 1.25);
  height: calc(var(--text-heading-medium-font-size) * 1.25);
}

.cds-profile-item__icon--invite {
  mask-image: url("../icons/invite-16x16-fill.svg");
  -webkit-mask-image: url("../icons/invite-16x16-fill.svg");
  width: calc(var(--text-body-small-font-size) * 1.1428572);
  height: calc(var(--text-body-small-font-size) * 1.1428572);
}

.cds-profile-item__dot {
  width: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
  height: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
  border-radius: 999px;
  background-color: var(--cafe-color-dividersecondary);
}

.cds-profile-item__text {
  display: flex;
  flex-direction: column;
  min-width: 0;
  text-align: left;
}

.cds-profile-item__name-row {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
}

.cds-profile-item__name {
  margin: 0;
  color: var(--cafe-color-onbackgroundassist);
}

.cds-profile-item__sub {
  color: var(--cafe-color-textinformation);
}

.cds-profile-item--feed-large {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  padding: 0 calc(var(--text-heading-xLarge-font-size) * 0.3333334) 0
    calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  align-items: flex-start;
}

.cds-profile-item--feed-large .cds-profile-item__info {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  flex: 1;
  min-width: 0;
}

.cds-profile-item--feed-large .cds-profile-item__text {
  gap: 0;
  flex: 1;
}

.cds-profile-item--feed-large .cds-profile-item__name {
  font-family: var(--text-label-mediumStrong-font-family);
  font-weight: var(--text-label-mediumStrong-font-weight);
  font-size: var(--text-label-mediumStrong-font-size);
  line-height: calc(var(--text-label-mediumStrong-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-label-mediumStrong-font-size) * -0.0214286);
}

.cds-profile-item--feed-large .cds-profile-item__sub {
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
}

.cds-profile-item--feed-small {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.3333334);
  align-items: flex-start;
}

.cds-profile-item--feed-small .cds-profile-item__info {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.3333334);
  flex: 1;
  min-width: 0;
}

.cds-profile-item--feed-small .cds-profile-item__name {
  font-family: var(--text-label-largeStrong-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-label-largeStrong-font-size);
  line-height: calc(var(--text-label-largeStrong-font-size) * 1.4666667);
  letter-spacing: calc(var(--text-label-largeStrong-font-size) * -0.02);
}

.cds-profile-item--feed-ad {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  padding: 0 calc(var(--text-heading-xLarge-font-size) * 0.3333334) 0
    calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  align-items: flex-start;
}

.cds-profile-item--feed-ad .cds-profile-item__ad-info {
  display: flex;
  align-items: center;
  gap: calc(var(--text-body-small-font-size) * 0.2857143);
  flex: 1;
}

.cds-profile-item--feed-ad .cds-profile-item__ad-name {
  font-family: var(--text-heading-small-font-family);
  font-weight: var(--text-heading-small-font-weight);
  font-size: var(--text-heading-small-font-size);
  line-height: calc(var(--text-heading-small-font-size) * 1.4666667);
  letter-spacing: calc(var(--text-heading-small-font-size) * -0.02);
  color: var(--cafe-color-textpriority);
}

.cds-profile-item__ad-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--text-body-small-font-size) * 1.1428572);
  padding: calc(var(--text-body-small-font-size) * 0.1428572)
    calc(var(--text-body-small-font-size) * 0.2857143)
    calc(var(--text-body-small-font-size) * 0.0714286)
    calc(var(--text-body-small-font-size) * 0.3571429);
  border: calc(var(--text-body-medium-font-size) * 0.0625) solid
    var(--cafe-color-dividersecondary);
  border-radius: calc(var(--text-body-medium-font-size) * 0.25);
  font-family: var(--text-label-xSmall-font-family);
  font-weight: var(--text-label-xSmall-font-weight);
  font-size: var(--text-label-xSmall-font-size);
  line-height: calc(var(--text-label-xSmall-font-size) * 1.3333334);
  letter-spacing: calc(var(--text-label-xSmall-font-size) * -0.025);
  color: var(--cafe-color-textpriority);
  background-color: transparent;
}

.cds-profile-item--article {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  padding: 0 calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  align-items: flex-start;
}

.cds-profile-item--article .cds-profile-item__main {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  flex: 1;
  min-width: 0;
}

.cds-profile-item--article .cds-profile-item__text {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
  flex: 1;
}

.cds-profile-item--article .cds-profile-item__name-row {
  display: flex;
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
}

.cds-profile-item--article .cds-profile-item__name {
  font-family: var(--text-label-xLarge-font-family);
  font-weight: var(--text-label-xLarge-font-weight);
  font-size: var(--text-label-xLarge-font-size);
  line-height: calc(var(--text-label-xLarge-font-size) * 1.5);
  letter-spacing: calc(var(--text-label-xLarge-font-size) * -0.01875);
}

.cds-profile-item__chat {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--text-body-small-font-size) * 0.1428572);
  color: var(--cafe-color-brand);
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
}

.cds-profile-item__chat .cds-profile-item__icon {
  color: var(--cafe-color-brand);
}

.cds-profile-item__subscribe .cds-profile-item__icon {
  color: currentColor;
}

.cds-profile-item__meta {
  display: flex;
  align-items: center;
  gap: calc(var(--text-body-small-font-size) * 0.4285714);
  color: var(--cafe-color-textinformation);
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
}

.cds-profile-item__meta-pair {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--text-body-small-font-size) * 0.1428572);
}

.cds-profile-item__subscribe {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--text-body-small-font-size) * 0.1428572);
  padding: calc(var(--text-heading-xLarge-font-size) * 0.4444445)
    calc(var(--text-heading-xLarge-font-size) * 0.5);
  border-radius: calc(var(--text-heading-xLarge-font-size) * 0.4444445);
  border: none;
  background-color: var(--cafe-color-brandcontainerprimary);
  color: var(--cafe-color-brand);
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
}

.cds-profile-item--drawer {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  padding: 0 calc(var(--text-heading-xLarge-font-size) * 1.1111112);
  align-items: flex-start;
}

.cds-profile-item--drawer .cds-profile-item__text {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.2222223);
}

.cds-profile-item--drawer .cds-profile-item__name {
  font-family: var(--text-display-medium-font-family);
  font-weight: var(--text-display-medium-font-weight);
  font-size: var(--text-display-medium-font-size);
  line-height: calc(var(--text-display-medium-font-size) * 1.3333334);
  letter-spacing: calc(var(--text-display-medium-font-size) * -0.0166667);
}

.cds-profile-item--drawer .cds-profile-item__name-row {
  align-items: center;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
}

.cds-profile-item__role {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--text-label-smallStrong-font-size) * 0.1538462)
    calc(var(--text-label-smallStrong-font-size) * 0.6153847);
  border-radius: 999px;
  background-color: var(--cafe-color-brandcontainerprimary);
  color: var(--cafe-color-brand);
  font-family: var(--text-label-smallStrong-font-family);
  font-weight: var(--text-label-smallStrong-font-weight);
  font-size: var(--text-label-smallStrong-font-size);
  line-height: calc(var(--text-label-smallStrong-font-size) * 1.3846154);
  letter-spacing: calc(var(--text-label-smallStrong-font-size) * -0.0230769);
}

.cds-profile-item__meta-strong {
  font-family: var(--text-label-mediumStrong-font-family);
  font-weight: var(--text-label-mediumStrong-font-weight);
  font-size: var(--text-label-mediumStrong-font-size);
  line-height: calc(var(--text-label-mediumStrong-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-label-mediumStrong-font-size) * -0.0214286);
}

.cds-profile-item--individual-cafe {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  padding: calc(var(--text-heading-xLarge-font-size) * 0.5555556)
    calc(var(--text-heading-xLarge-font-size) * 1.1111112)
    calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  background-color: var(--cafe-color-cafeskindeepblue);
  color: var(--cafe-color-textwhite);
  align-items: center;
}

.cds-profile-item--individual-cafe .cds-profile-item__icon {
  color: var(--cafe-color-textwhite);
}

.cds-profile-item--individual-cafe .cds-profile-item__name,
.cds-profile-item--individual-cafe .cds-profile-item__sub {
  color: var(--cafe-color-textwhite);
}

.cds-profile-item--individual-cafe .cds-profile-item__name {
  font-family: var(--text-display-medium-font-family);
  font-weight: var(--text-display-medium-font-weight);
  font-size: var(--text-display-medium-font-size);
  line-height: calc(var(--text-display-medium-font-size) * 1.3333334);
  letter-spacing: calc(var(--text-display-medium-font-size) * -0.0166667);
}

.cds-profile-item--individual-cafe .cds-profile-item__sub {
  color: var(--core-alpha-alphawhite70);
}

.cds-profile-item__cafe-meta {
  display: flex;
  align-items: center;
  gap: calc(var(--text-body-small-font-size) * 0.2857143);
  color: var(--core-alpha-alphawhite70);
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
}

.cds-profile-item__cafe-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--text-body-small-font-size) * 0.2857143);
  color: var(--core-alpha-alphawhite70);
}

.cds-profile-item__cafe-action .cds-profile-item__icon {
  color: var(--core-alpha-alphawhite70);
}

.cds-profile-item__badge {
  width: calc(var(--text-label-xSmall-font-size) * 1.0833334);
  height: calc(var(--text-label-xSmall-font-size) * 1.0833334);
}

.cds-profile-item--id {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  align-items: flex-start;
}

.cds-profile-item--id .cds-profile-item__name {
  font-family: var(--text-display-medium-font-family);
  font-weight: var(--text-display-medium-font-weight);
  font-size: var(--text-display-medium-font-size);
  line-height: calc(var(--text-display-medium-font-size) * 1.3333334);
  letter-spacing: calc(var(--text-display-medium-font-size) * -0.0166667);
}

.cds-profile-item--id .cds-profile-item__icon {
  color: var(--cafe-color-textpriority);
}

.cds-profile-item--like-user {
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  padding: calc(var(--text-heading-xLarge-font-size) * 0.5555556)
    calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  align-items: flex-start;
}

.cds-profile-item--like-user .cds-profile-item__name {
  font-family: var(--text-body-large-font-family);
  font-weight: var(--text-body-large-font-weight);
  font-size: var(--text-body-large-font-size);
  line-height: calc(var(--text-body-large-font-size) * 1.375);
  letter-spacing: calc(var(--text-body-large-font-size) * -0.01875);
}

.cds-profile-item--like-user .cds-profile-item__sub {
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-font-size);
  line-height: calc(var(--text-body-small-font-size) * 1.3571429);
  letter-spacing: calc(var(--text-body-small-font-size) * -0.0214286);
}

.cds-demo__items--profile {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.7777778);
}
