/* Module: feedGrid */
.cds-feed-grid-module {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  padding-bottom: calc(var(--text-heading-xLarge-font-size) * 1.3333334);
  background-color: var(--cafe-color-background);
}

.cds-feed-grid-module .cds-header {
  width: 100%;
  box-sizing: border-box;
}

.cds-feed-grid-module__grid {
  display: flex;
  flex-direction: column;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  padding: 0 calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-feed-grid-module__card {
  display: flex;
  flex-direction: column;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  flex: 1;
  min-width: 0;
}

.cds-feed-grid-module__grid .cds-feed-grid-module__card {
  padding-bottom: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-feed-grid-module__thumb-wide {
  --cds-thumbnail-width: 100%;
  --cds-thumbnail-ratio: 16 / 9;
  --cds-thumbnail-radius: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  margin: 0;
}

.cds-feed-grid-module__title {
  margin: 0;
  font-family: var(--text-body-large-font-family);
  font-weight: var(--text-body-large-font-weight);
  font-size: var(--text-body-large-font-size);
  line-height: calc(var(--text-body-large-font-size) * 1.375);
  letter-spacing: calc(var(--text-body-large-font-size) * -0.01875);
  color: var(--cafe-color-onbackgroundprimary);
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.cds-feed-grid-module__list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  padding: 0 calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-feed-grid-module__divider {
  height: calc(var(--text-body-medium-font-size) * 0.0625);
  background-color: var(--cafe-color-backgroundcontainerprimary);
}

.cds-feed-grid-module__row {
  display: flex;
  align-items: flex-start;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.7777778);
}

.cds-feed-grid-module__row-text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.2222223);
  flex: 1;
  min-width: 0;
}

.cds-feed-grid-module__thumb-square {
  --cds-thumbnail-width: calc(var(--text-heading-xLarge-font-size) * 3.7777778);
  --cds-thumbnail-ratio: 1 / 1;
  --cds-thumbnail-radius: calc(var(--text-heading-xLarge-font-size) * 0.6666667);
  margin: 0;
  flex-shrink: 0;
}
