/* Module: list item thumb-lg + profile feed-small */
.cds-list-module {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  background-color: var(--cafe-color-background);
}

.cds-list-module .cds-header {
  width: 100%;
  box-sizing: border-box;
}

.cds-demo__items--list-module {
  flex-direction: column;
  align-items: stretch;
}

.cds-list-module__item {
  position: relative;
}

.cds-list-module__item + .cds-list-module__item::before {
  content: "";
  position: absolute;
  left: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  right: calc(var(--text-heading-xLarge-font-size) * 0.8888889);
  top: 0;
  height: calc(var(--text-body-medium-font-size) * 0.0625);
  background-color: var(--cafe-color-dividersecondary);
}

.cds-list-module__content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--text-heading-xLarge-font-size) * 0.5555556);
  padding: calc(var(--text-heading-xLarge-font-size) * 0.8888889)
    calc(var(--text-heading-xLarge-font-size) * 0.8888889);
}

.cds-list-module__item:first-child .cds-list-module__content {
  padding-top: calc(var(--text-heading-xLarge-font-size) * 0.1111111);
}

.cds-list-module__content .cds-list-item--thumb-lg {
  padding: 0;
}

.cds-list-module__content .cds-profile-item--feed-small {
  width: 100%;
}
