<div class="cds-list">
  <div class="cds-list-section-title">Notice 있음</div>
  <!-- type=개별홈-공지, element=text, layout=list -->
  <article class="cds-list-item cds-list-item--list cds-list-item--notice">
    <div class="cds-list-item__title-row">
      <span class="cds-list-item__notice">필독</span>
      <h3 class="cds-list-item__title cds-list-item__title--single">개별 카페 홈 내 공지 타이틀은 최대 한 줄까지 허용됩니다.</h3>
    </div>
  </article>


  <!-- type=개별홈-공지, element=text, layout=list -->
  <article class="cds-list-item cds-list-item--list cds-list-item--notice">
    <div class="cds-list-item__title-row">
      <span class="cds-list-item__notice">공지</span>
      <h3 class="cds-list-item__title cds-list-item__title--single">개별 카페 홈 내 공지 타이틀은 최대 한 줄까지 허용됩니다.</h3>
    </div>
  </article>


  <!-- type=개별홈-공지, element=text, layout=list (alert) -->
  <article class="cds-list-item cds-list-item--list cds-list-item--notice">
    <div class="cds-list-item__title-row">
      <span class="cds-list-item__notice cds-list-item__notice--alert">공지</span>
      <h3 class="cds-list-item__title cds-list-item__title--single">개별 카페 홈 내 공지 타이틀은 최대 한 줄까지 허용됩니다.</h3>
    </div>
  </article>


  <!-- type=개별홈-일반, element=text+badge, layout=list -->
  <article class="cds-list-item cds-list-item--list">
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <span class="cds-list-item__notice">공지</span>
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게 나옵니다 배지</h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">
          배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다
        </p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">15:30</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>


  <!-- type=개별홈-일반, element=text+badge+image, layout=list -->
  <article class="cds-list-item cds-list-item--list cds-list-item--thumb-sm">
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <span class="cds-list-item__notice">공지</span>
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게 나옵니다 배지</h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">
          배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다
        </p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">15:30</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      <span class="cds-thumbnail__badge">
        <span class="cds-thumbnail__badge-text">999+</span>
      </span>
      <span class="cds-thumbnail__icon">
        <img src="../icons/gif-16x16-fill.svg" alt="" />
      </span>
    </figure>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>


  <!-- type=개별홈-일반, element=title+image, layout=list -->
  <article class="cds-list-item cds-list-item--list cds-list-item--thumb-lg">
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <h3 class="cds-list-item__title cds-list-item__title--thumb-lg">
          러닝 시작 전 스트레칭 루틴 공유합니다 러닝 초보 필수
        </h3>
      </div>
    </div>
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
    </figure>
  </article>


  <!-- type=개별홈-일반, element=text+badge, layout=list -->
  <article class="cds-list-item cds-list-item--list">
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <span class="cds-list-item__notice">공지</span>
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게 나옵니다</h3>
        </div>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">15:30</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>


  <!-- type=개별홈-일반, element=text+badge+image, layout=list -->
  <article class="cds-list-item cds-list-item--list cds-list-item--thumb-sm">
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <span class="cds-list-item__notice">공지</span>
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게</h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다</p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">15:30</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      <span class="cds-thumbnail__badge">
        <span class="cds-thumbnail__badge-text">999+</span>
      </span>
      <span class="cds-thumbnail__icon">
        <img src="../icons/gif-16x16-fill.svg" alt="" />
      </span>
    </figure>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>


  <!-- type=개별홈-랭킹, element=text+badge, layout=list -->
  <article class="cds-list-item cds-list-item--list">
    <span class="cds-list-item__rank">10</span>
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <span class="cds-list-item__notice">공지</span>
          <h3 class="cds-list-item__title cds-list-item__title--single">
            이것은 개별 카페 홈 메인에 들어가는 콘텐츠입니다 이것은 개별 카페 홈 메인에 들어가는 콘텐츠입니다이것은 개별 카페 홈 메인에 들어가는 콘텐츠입니다 이것은 개별 카페 홈 메인에 들어가는 콘텐츠입니다
          </h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다</p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">12:34</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">104</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>


  <!-- type=개별홈-랭킹, element=text+badge+image, layout=list -->
  <article class="cds-list-item cds-list-item--list cds-list-item--thumb-sm">
    <span class="cds-list-item__rank">200</span>
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <span class="cds-list-item__notice">공지</span>
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게 나옵니다 배지</h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다</p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">12:34</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      <span class="cds-thumbnail__badge">
        <span class="cds-thumbnail__badge-text">999+</span>
      </span>
      <span class="cds-thumbnail__icon">
        <img src="../icons/gif-16x16-fill.svg" alt="" />
      </span>
    </figure>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>


  <!-- type=구독-거래글, element=text+image, layout=list -->
  <article class="cds-list-item cds-list-item--trade cds-list-item--thumb-lg">
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      <span class="cds-thumbnail__badge">
        <span class="cds-thumbnail__badge-text">999+</span>
      </span>
    </figure>
    <div class="cds-list-item__trade-content">
      <div class="cds-list-item__trade-main">
        <div class="cds-list-item__title-row cds-list-item__title-row--trade">
          <h3 class="cds-list-item__title cds-list-item__title--double">
            <span class="cds-list-item__trade-label">판매</span>
            개별 카페 거래글 타이틀은 최대 두 줄까지 허용됩니다. 개별 카페 홈 내 문서 타이틀은 최대 두 줄까지 허용됩니다.
          </h3>
          <img class="cds-list-item__trade-icon" src="../icons/more-vertical-24x24-fill.svg" alt="" />
        </div>
        <div class="cds-list-item__price cds-list-item__price--trade">
          <span class="cds-list-item__price-amount cds-list-item__price-amount--trade">999,999,999</span>
          <span class="cds-list-item__price-unit cds-list-item__price-unit--trade">원</span>
        </div>
      </div>
      <div class="cds-list-item__neighbor">
        <span class="cds-list-item__meta-text cds-list-item__meta-text--trade">지역명1, 지역명2</span>
      </div>
      <div class="cds-list-item__meta-text cds-list-item__meta-text--trade">직접거래, 택배거래</div>
      <div class="cds-list-item__profile-row">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">1시간 전</span>
      </div>
      <span class="cds-list-item__keyword-badge">카페명이 들어갑니다</span>
    </div>
  </article>

  <!-- type=구독-거래글, element=text+image, layout=list (neighbor) -->
  <article class="cds-list-item cds-list-item--trade cds-list-item--thumb-lg">
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      <span class="cds-thumbnail__badge">
        <span class="cds-thumbnail__badge-text">999+</span>
      </span>
    </figure>
    <div class="cds-list-item__trade-content">
      <div class="cds-list-item__trade-main">
        <div class="cds-list-item__title-row cds-list-item__title-row--trade">
          <h3 class="cds-list-item__title cds-list-item__title--double">
            <span class="cds-list-item__trade-label">판매</span>
            개별 카페 거래글 타이틀은 최대 두 줄까지 허용됩니다. 개별 카페 홈 내 문서 타이틀은 최대 두 줄까지 허용됩니다.
          </h3>
          <img class="cds-list-item__trade-icon" src="../icons/more-vertical-24x24-fill.svg" alt="" />
        </div>
        <div class="cds-list-item__price cds-list-item__price--trade">
          <span class="cds-list-item__price-amount cds-list-item__price-amount--trade">999,999,999</span>
          <span class="cds-list-item__price-unit cds-list-item__price-unit--trade">원</span>
        </div>
      </div>
      <div class="cds-list-item__neighbor">
        <span class="cds-list-item__neighbor-badge">이웃</span>
        <span class="cds-list-item__meta-text cds-list-item__meta-text--trade">지역명1, 지역명2</span>
      </div>
      <div class="cds-list-item__meta-text cds-list-item__meta-text--trade">직접거래, 택배거래</div>
      <div class="cds-list-item__profile-row">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">1시간 전</span>
      </div>
      <span class="cds-list-item__keyword-badge">카페명이 들어갑니다</span>
    </div>
  </article>

  <!-- type=구독-거래글, element=text+image, layout=list (reply) -->
  <article class="cds-list-item cds-list-item--trade cds-list-item--thumb-lg">
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      <span class="cds-thumbnail__badge">
        <span class="cds-thumbnail__badge-text">999+</span>
      </span>
    </figure>
    <div class="cds-list-item__trade-content">
      <div class="cds-list-item__trade-main">
        <div class="cds-list-item__title-row cds-list-item__title-row--trade">
          <h3 class="cds-list-item__title cds-list-item__title--double">
            <span class="cds-list-item__trade-label">판매</span>
            개별 카페 거래글 타이틀은 최대 두 줄까지 허용됩니다. 개별 카페 홈 내 문서 타이틀은 최대 두 줄까지 허용됩니다.
          </h3>
          <img class="cds-list-item__trade-icon" src="../icons/more-vertical-24x24-fill.svg" alt="" />
        </div>
        <div class="cds-list-item__price cds-list-item__price--trade">
          <span class="cds-list-item__price-amount cds-list-item__price-amount--trade">999,999,999</span>
          <span class="cds-list-item__price-unit cds-list-item__price-unit--trade">원</span>
        </div>
      </div>
      <div class="cds-list-item__neighbor">
        <span class="cds-list-item__meta-text cds-list-item__meta-text--trade">지역명1, 지역명2</span>
      </div>
      <div class="cds-list-item__meta-text cds-list-item__meta-text--trade">직접거래, 택배거래</div>
      <div class="cds-list-item__profile-row">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">1시간 전</span>
        <span class="cds-list-item__reply">
          <img class="cds-list-item__reply-icon" src="../icons/reply-16x16-outline.svg" alt="" />
          <span class="cds-list-item__meta-text">999</span>
        </span>
      </div>
      <span class="cds-list-item__keyword-badge">카페명이 들어갑니다</span>
    </div>
  </article>

  <div class="cds-list-section-title">Notice 없음</div>

  <!-- type=개별홈-공지, element=text, layout=list (no notice) -->
  <article class="cds-list-item cds-list-item--list cds-list-item--notice">
    <div class="cds-list-item__title-row">
      <h3 class="cds-list-item__title cds-list-item__title--single">개별 카페 홈 내 공지 타이틀은 최대 한 줄까지 허용됩니다.</h3>
    </div>
  </article>

  <!-- type=개별홈-공지, element=text, layout=list (no notice) -->
  <article class="cds-list-item cds-list-item--list cds-list-item--notice">
    <div class="cds-list-item__title-row">
      <h3 class="cds-list-item__title cds-list-item__title--single">개별 카페 홈 내 공지 타이틀은 최대 한 줄까지 허용됩니다.</h3>
    </div>
  </article>

  <!-- type=개별홈-공지, element=text, layout=list (alert, no notice) -->
  <article class="cds-list-item cds-list-item--list cds-list-item--notice">
    <div class="cds-list-item__title-row">
      <h3 class="cds-list-item__title cds-list-item__title--single">개별 카페 홈 내 공지 타이틀은 최대 한 줄까지 허용됩니다.</h3>
    </div>
  </article>

  <!-- type=개별홈-일반, element=text+badge, layout=list (no notice) -->
  <article class="cds-list-item cds-list-item--list">
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게 나옵니다 배지</h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">
          배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다
        </p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">15:30</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>

  <!-- type=개별홈-일반, element=text+badge+image, layout=list (no notice) -->
  <article class="cds-list-item cds-list-item--list cds-list-item--thumb-sm">
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게 나옵니다 배지</h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">
          배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다
        </p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">15:30</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      <span class="cds-thumbnail__badge">
        <span class="cds-thumbnail__badge-text">999+</span>
      </span>
      <span class="cds-thumbnail__icon">
        <img src="../icons/gif-16x16-fill.svg" alt="" />
      </span>
    </figure>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>

  <!-- type=개별홈-일반, element=text+badge, layout=list (no notice) -->
  <article class="cds-list-item cds-list-item--list">
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게 나옵니다</h3>
        </div>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">15:30</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>

  <!-- type=개별홈-일반, element=text+badge+image, layout=list (no notice) -->
  <article class="cds-list-item cds-list-item--list cds-list-item--thumb-sm">
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게</h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다</p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">15:30</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      <span class="cds-thumbnail__badge">
        <span class="cds-thumbnail__badge-text">999+</span>
      </span>
      <span class="cds-thumbnail__icon">
        <img src="../icons/gif-16x16-fill.svg" alt="" />
      </span>
    </figure>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>

  <!-- type=개별홈-랭킹, element=text+badge, layout=list (no notice) -->
  <article class="cds-list-item cds-list-item--list">
    <span class="cds-list-item__rank">10</span>
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <h3 class="cds-list-item__title cds-list-item__title--single">
            이것은 개별 카페 홈 메인에 들어가는 콘텐츠입니다 이것은 개별 카페 홈 메인에 들어가는 콘텐츠입니다이것은 개별 카페 홈 메인에 들어가는 콘텐츠입니다 이것은 개별 카페 홈 메인에 들어가는 콘텐츠입니다
          </h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다</p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">12:34</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">104</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>

  <!-- type=개별홈-랭킹, element=text+badge+image, layout=list (no notice) -->
  <article class="cds-list-item cds-list-item--list cds-list-item--thumb-sm">
    <span class="cds-list-item__rank">200</span>
    <div class="cds-list-item__content">
      <div class="cds-list-item__title-block">
        <div class="cds-list-item__title-row">
          <h3 class="cds-list-item__title cds-list-item__title--single">배지랑 같이 붙으면 이렇게 나옵니다 배지</h3>
        </div>
        <p class="cds-list-item__title cds-list-item__title--double">배지랑 같이 붙으면 이렇게 나옵니다배지랑 같이 붙으면 이렇게 나옵니다</p>
      </div>
      <div class="cds-list-item__meta">
        <span class="cds-list-item__profile">
          <span class="cds-list-item__profile-name">프로필</span>
          <span class="cds-list-item__profile-badge">
            <img src="../imageBadges/decorative-small-sprout.svg" alt="level badge" />
          </span>
        </span>
        <span class="cds-list-item__meta-text">12:34</span>
        <span class="cds-list-item__meta-text">조회 9,999</span>
      </div>
    </div>
    <figure class="cds-thumbnail cds-thumbnail--ratio-1-1 cds-thumbnail--list">
      <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      <span class="cds-thumbnail__badge">
        <span class="cds-thumbnail__badge-text">999+</span>
      </span>
      <span class="cds-thumbnail__icon">
        <img src="../icons/gif-16x16-fill.svg" alt="" />
      </span>
    </figure>
    <button class="cds-list-item__comment" type="button">
      <span class="cds-list-item__comment-count">102</span>
      <span class="cds-list-item__comment-label">댓글</span>
    </button>
  </article>
</div>
