/* Figma: cafe.component.pagination (type=dot) */
.cds-pagination-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--text-body-xSmall-font-size) * 0.3846154);
  width: calc(var(--text-heading-xLarge-font-size) * 20.8333334);
  padding: calc(var(--text-heading-xLarge-font-size) * 1.1111112) 0;
  background-color: var(--cafe-color-background);
}

.cds-pagination-dot__item {
  width: calc(var(--text-body-xSmall-font-size) * 0.4615385);
  height: calc(var(--text-body-xSmall-font-size) * 0.4615385);
  border-radius: 999px;
  background-color: var(--cafe-color-backgroundcontainersecondary);
}

.cds-pagination-dot__item.is-active {
  background-color: var(--cafe-color-onbackgroundprimary);
}
