<div class="cds-pagination-dot" role="tablist" aria-label="Pagination dots">
  <span class="cds-pagination-dot__item is-active" role="tab" aria-selected="true"></span>
  <span class="cds-pagination-dot__item" role="tab" aria-selected="false"></span>
  <span class="cds-pagination-dot__item" role="tab" aria-selected="false"></span>
  <span class="cds-pagination-dot__item" role="tab" aria-selected="false"></span>
  <span class="cds-pagination-dot__item" role="tab" aria-selected="false"></span>
</div>
