<!-- Figma: atom/thumbnail -->
<div class="cds-thumbnail-examples">
  <div class="cds-thumbnail-examples__group">
    <div class="cds-thumbnail-examples__title">Image</div>
    <div class="cds-thumbnail-examples__items">
      <figure class="cds-thumbnail cds-thumbnail--ratio-1-1">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--ratio-3-2">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--ratio-3-3-15">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--ratio-16-9">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
      </figure>
    </div>
  </div>

  <div class="cds-thumbnail-examples__group">
    <div class="cds-thumbnail-examples__title">Video</div>
    <div class="cds-thumbnail-examples__items">
      <figure class="cds-thumbnail cds-thumbnail--ratio-1-1">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__icon">
          <img src="../icons/play-sm-16x16-fill.svg" alt="" />
        </span>
        <span class="cds-thumbnail__badge">
          <span class="cds-thumbnail__badge-text">04:12</span>
        </span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--ratio-16-9">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__play">
          <img class="cds-thumbnail__play-icon" src="../icons/play-sm-24x24-fill.svg" alt="" />
        </span>
        <span class="cds-thumbnail__badge">
          <span class="cds-thumbnail__badge-text">04:12</span>
        </span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--ratio-3-5">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__play">
          <img class="cds-thumbnail__play-icon" src="../icons/play-sm-24x24-fill.svg" alt="" />
        </span>
        <span class="cds-thumbnail__badge">
          <span class="cds-thumbnail__badge-text">00:57</span>
        </span>
      </figure>
    </div>
  </div>

  <div class="cds-thumbnail-examples__group">
    <div class="cds-thumbnail-examples__title">Circle</div>
    <div class="cds-thumbnail-examples__items">
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-20">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-24">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-28">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-34">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-36">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-38">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-42">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-50">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-54">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-56">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-60">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-66">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-80">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
      <figure class="cds-thumbnail cds-thumbnail--circle cds-thumbnail--size-104">
        <img class="cds-thumbnail__image" src="../cupIllust.png" alt="" />
        <span class="cds-thumbnail__dim" aria-hidden="true"></span>
      </figure>
    </div>
  </div>
</div>
